# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Audit/runtime logs
profiles/*.pprof
audit.log

# Binaries
cmd/shortener/main
cmd/shortener/shortener
cmd/shortener/shortener.exe

# Dependency directories
vendor/

# IDEs directories
.idea
.vscode
.vs/

# Local configs/secrets/runtime files
config.json
mods.json
server.crt
server.key
storage.json
storage.json.users
